*.iml
.gradle
/local.properties
/.bash_profile
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.classpath
.project
.settings/org.eclipse.buildship.core.prefs

.DS_Store
/build
/logs
/captures
.externalNativeBuild
.cxx
.idea
/.idea/
local.properties
