<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.binbo.glvideo.sample_app.utils.AppGlideModule"
        android:value="GlideModule" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Glvideo">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- capture section -->
        <activity
            android:name=".ui.capture.activity.CameraPreviewActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.capture.activity.CameraPreviewCustomActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.capture.activity.CameraPreviewEffectsActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.capture.activity.PictureTakingActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.capture.activity.VideoRecordingActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <!-- video section -->
        <activity
            android:name=".ui.video.activity.VideoDecodeActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.video.activity.GifToMp4Activity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.video.activity.AddVideoBgmActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <!-- advanced section -->
        <activity
            android:name=".ui.advanced.activity.VideoCutSelectActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.advanced.activity.VideoCutActivity"
            android:exported="false"
            android:launchMode="singleTop" />

    </application>

</manifest>